In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import datetime

# NYC Cab Ride Data

In [2]:
# Read csv file containing NYC taxi trip duration data for problem 2
taxi_dataQ2= pd.read_csv('Raw Data/nyc-taxi-trip-duration/NYCtaxi_trip_Q2.csv')
taxi_dataQ2.head()

C:\Users\shrut\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (0,2,3,9) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration(sec)
0,id2875421,2.0,3/14/2016 17:24,3/14/2016 17:32,1.0,-73.982155,40.767937,-73.964630,40.765602,N,455.0
1,id2377394,1.0,6/12/2016 0:43,6/12/2016 0:54,1.0,-73.980415,40.738564,-73.999481,40.731152,N,663.0
2,id3858529,2.0,1/19/2016 11:35,1/19/2016 12:10,1.0,-73.979027,40.763939,-74.005333,40.710087,N,2124.0
3,id3504673,2.0,4/6/2016 19:32,4/6/2016 19:39,1.0,-74.010040,40.719971,-74.012268,40.706718,N,429.0
4,id2181028,2.0,3/26/2016 13:30,3/26/2016 13:38,1.0,-73.973053,40.793209,-73.972923,40.782520,N,435.0

In [3]:
taxi_dataQ2['Datetime'] =  pd.to_datetime(taxi_dataQ2['pickup_datetime'], format='%m/%d/%Y %H:%M')
taxi_dataQ2['Hour']= taxi_dataQ2['Datetime'].dt.hour
taxi_dataQ2['Year']= taxi_dataQ2['Datetime'].dt.year
taxi_dataQ2['Month']= taxi_dataQ2['Datetime'].dt.month
taxi_dataQ2

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration(sec),Datetime,Hour,Year,Month
0,id2875421,2.0,3/14/2016 17:24,3/14/2016 17:32,1.0,-73.982155,40.767937,-73.964630,40.765602,N,455.0,2016-03-14 17:24:00,17.0,2016.0,3.0
1,id2377394,1.0,6/12/2016 0:43,6/12/2016 0:54,1.0,-73.980415,40.738564,-73.999481,40.731152,N,663.0,2016-06-12 00:43:00,0.0,2016.0,6.0
2,id3858529,2.0,1/19/2016 11:35,1/19/2016 12:10,1.0,-73.979027,40.763939,-74.005333,40.710087,N,2124.0,2016-01-19 11:35:00,11.0,2016.0,1.0
3,id3504673,2.0,4/6/2016 19:32,4/6/2016 19:39,1.0,-74.010040,40.719971,-74.012268,40.706718,N,429.0,2016-04-06 19:32:00,19.0,2016.0,4.0
4,id2181028,2.0,3/26/2016 13:30,3/26/2016 13:38,1.0,-73.973053,40.793209,-73.972923,40.782520,N,435.0,2016-03-26 13:30:00,13.0,2016.0,3.0
5,id0801584,2.0,1/30/2016 22:01,1/30/2016 22:09,6.0,-73.982857,40.742195,-73.992081,40.749184,N,443.0,2016-01-30 22:01:00,22.0,2016.0,1.0
6,id1813257,1.0,6/17/2016 22:34,6/17/2016 22:40,4.0,-73.969017,40.757839,-73.957405,40.765896,N,341.0,2016-06-17 22:34:00,22.0,2016.0,6.0
7,id1324603,2.0,5/21/2016 7:54,5/21/2016 8:20,1.0,-73.969276,40.797779,-73.922470,40.760559,N,1551.0,2016-05-21 07:54:00,7.0,2016.0,5.0
8,id1301050,1.0,5/27/2016 23:12,5/27/2016 23:16,1.0,-73.999481,40.738400,-73.985786,40.732815,N,255.0,2016-05-27 23:12:00,23.0,2016.0,5.0
9,id0012891,2.0,3/10/2016 21:45,3/10/2016 22:05,1.0,-73.981049,40.744339,-73.973000,40.789989,N,1225.0,2016-03-10 21:45:00,21.0,2016.0,3.0
10,id1436371,2.0,5/10/2016 22:08,5/10/2016 22:29,1.0,-73.982651,40.763840,-74.002228,40.732990,N,1274.0,2016-05-10 22:08:00,22.0,2016.0,5.0
11,id1299289,2.0,5/15/2016 11:16,5/15/2016 11:34,4.0,-73.991531,40.749439,-73.956543,40.770630,N,1128.0,2016-05-15 11:16:00,11.0,2016.0,5.0
12,id1187965,2.0,2/19/2016 9:52,2/19/2016 10:11,2.0,-73.962982,40.756680,-73.984406,40.760719,N,1114.0,2016-02-19 09:52:00,9.0,2016.0,2.0
13,id0799785,2.0,6/1/2016 20:58,6/1/2016 21:02,1.0,-73.956306,40.767941,-73.966110,40.763000,N,260.0,2016-06-01 20:58:00,20.0,2016.0,6.0
14,id2900608,2.0,5/27/2016 0:43,5/27/2016 1:07,1.0,-73.992195,40.727226,-73.974655,40.783070,N,1414.0,2016-05-27 00:43:00,0.0,2016.0,5.0
15,id3319787,1.0,5/16/2016 15:29,5/16/2016 15:32,1.0,-73.955513,40.768593,-73.948761,40.771545,N,211.0,2016-05-16 15:29:00,15.0,2016.0,5.0
16,id3379579,2.0,4/11/2016 17:29,4/11/2016 18:08,1.0,-73.991165,40.755562,-73.999290,40.725353,N,2316.0,2016-04-11 17:29:00,17.0,2016.0,4.0
17,id1154431,1.0,4/14/2016 8:48,4/14/2016 9:00,1.0,-73.994255,40.745804,-73.999657,40.723343,N,731.0,2016-04-14 08:48:00,8.0,2016.0,4.0
18,id3552682,1.0,6/27/2016 9:55,6/27/2016 10:17,1.0,-74.003983,40.713013,-73.979195,40.749924,N,1317.0,2016-06-27 09:55:00,9.0,2016.0,6.0
19,id3390316,2.0,6/5/2016 13:47,6/5/2016 13:51,1.0,-73.983887,40.738197,-73.991203,40.727871,N,251.0,2016-06-05 13:47:00,13.0,2016.0,6.0
20,id2070428,1.0,2/28/2016 2:23,2/28/2016 2:31,1.0,-73.980370,40.742420,-73.962852,40.760635,N,486.0,2016-02-28 02:23:00,2.0,2016.0,2.0
21,id0809232,2.0,4/1/2016 12:12,4/1/2016 12:23,1.0,-73.979538,40.753361,-73.963997,40.763458,N,652.0,2016-04-01 12:12:00,12.0,2016.0,4.0
22,id2352683,1.0,4/9/2016 3:34,4/9/2016 3:41,1.0,-73.995865,40.758812,-73.993324,40.740322,N,423.0,2016-04-09 03:34:00,3.0,2016.0,4.0
23,id1603037,1.0,6/25/2016 10:36,6/25/2016 10:55,1.0,-73.993553,40.747173,-74.006142,40.704384,N,1163.0,2016-06-25 10:36:00,10.0,2016.0,6.0
24,id3321406,2.0,6/3/2016 8:15,6/3/2016 8:56,1.0,-73.955231,40.777134,-73.788750,40.641472,N,2485.0,2016-06-03 08:15:00,8.0,2016.0,6.0
25,id0129640,2.0,2/14/2016 13:27,2/14/2016 13:49,1.0,-73.956581,40.771358,-73.974968,40.732792,N,1283.0,2016-02-14 13:27:00,13.0,2016.0,2.0
26,id3587298,1.0,2/27/2016 21:56,2/27/2016 22:14,1.0,-73.983765,40.749874,-73.958832,40.800961,N,1130.0,2016-02-27 21:56:00,21.0,2016.0,2.0
27,id2104175,1.0,6/20/2016 23:07,6/20/2016 23:18,1.0,-73.958435,40.713192,-73.949539,40.680252,N,694.0,2016-06-20 23:07:00,23.0,2016.0,6.0
28,id3973319,2.0,6/13/2016 21:57,6/13/2016 22:12,1.0,-73.994217,40.713306,-73.982849,40.692299,N,892.0,2016-06-13 21:57:00,21.0,2016.0,6.0
29,id1410897,1.0,3/23/2016 14:10,3/23/2016 14:49,1.0,-73.982117,40.756351,-73.865692,40.770988,N,2331.0,2016-03-23 14:10:00,14.0,2016.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99970,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
99971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
99972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
99973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
99974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
99975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
99976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
99977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
99978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
99979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
99980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
99981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
99982,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
99983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
99984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
99985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
99986,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
99987,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
99988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
99989,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
99990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
99991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
99992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
99993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
99994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
99995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
99996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
99997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
99998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN
99999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN

In [4]:
# Drop the rows that have NA-values
taxi_dataQ2.dropna(how='all',inplace=True)
taxi_dataQ2

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration(sec),Datetime,Hour,Year,Month
0,id2875421,2.0,3/14/2016 17:24,3/14/2016 17:32,1.0,-73.982155,40.767937,-73.964630,40.765602,N,455.0,2016-03-14 17:24:00,17.0,2016.0,3.0
1,id2377394,1.0,6/12/2016 0:43,6/12/2016 0:54,1.0,-73.980415,40.738564,-73.999481,40.731152,N,663.0,2016-06-12 00:43:00,0.0,2016.0,6.0
2,id3858529,2.0,1/19/2016 11:35,1/19/2016 12:10,1.0,-73.979027,40.763939,-74.005333,40.710087,N,2124.0,2016-01-19 11:35:00,11.0,2016.0,1.0
3,id3504673,2.0,4/6/2016 19:32,4/6/2016 19:39,1.0,-74.010040,40.719971,-74.012268,40.706718,N,429.0,2016-04-06 19:32:00,19.0,2016.0,4.0
4,id2181028,2.0,3/26/2016 13:30,3/26/2016 13:38,1.0,-73.973053,40.793209,-73.972923,40.782520,N,435.0,2016-03-26 13:30:00,13.0,2016.0,3.0
5,id0801584,2.0,1/30/2016 22:01,1/30/2016 22:09,6.0,-73.982857,40.742195,-73.992081,40.749184,N,443.0,2016-01-30 22:01:00,22.0,2016.0,1.0
6,id1813257,1.0,6/17/2016 22:34,6/17/2016 22:40,4.0,-73.969017,40.757839,-73.957405,40.765896,N,341.0,2016-06-17 22:34:00,22.0,2016.0,6.0
7,id1324603,2.0,5/21/2016 7:54,5/21/2016 8:20,1.0,-73.969276,40.797779,-73.922470,40.760559,N,1551.0,2016-05-21 07:54:00,7.0,2016.0,5.0
8,id1301050,1.0,5/27/2016 23:12,5/27/2016 23:16,1.0,-73.999481,40.738400,-73.985786,40.732815,N,255.0,2016-05-27 23:12:00,23.0,2016.0,5.0
9,id0012891,2.0,3/10/2016 21:45,3/10/2016 22:05,1.0,-73.981049,40.744339,-73.973000,40.789989,N,1225.0,2016-03-10 21:45:00,21.0,2016.0,3.0
10,id1436371,2.0,5/10/2016 22:08,5/10/2016 22:29,1.0,-73.982651,40.763840,-74.002228,40.732990,N,1274.0,2016-05-10 22:08:00,22.0,2016.0,5.0
11,id1299289,2.0,5/15/2016 11:16,5/15/2016 11:34,4.0,-73.991531,40.749439,-73.956543,40.770630,N,1128.0,2016-05-15 11:16:00,11.0,2016.0,5.0
12,id1187965,2.0,2/19/2016 9:52,2/19/2016 10:11,2.0,-73.962982,40.756680,-73.984406,40.760719,N,1114.0,2016-02-19 09:52:00,9.0,2016.0,2.0
13,id0799785,2.0,6/1/2016 20:58,6/1/2016 21:02,1.0,-73.956306,40.767941,-73.966110,40.763000,N,260.0,2016-06-01 20:58:00,20.0,2016.0,6.0
14,id2900608,2.0,5/27/2016 0:43,5/27/2016 1:07,1.0,-73.992195,40.727226,-73.974655,40.783070,N,1414.0,2016-05-27 00:43:00,0.0,2016.0,5.0
15,id3319787,1.0,5/16/2016 15:29,5/16/2016 15:32,1.0,-73.955513,40.768593,-73.948761,40.771545,N,211.0,2016-05-16 15:29:00,15.0,2016.0,5.0
16,id3379579,2.0,4/11/2016 17:29,4/11/2016 18:08,1.0,-73.991165,40.755562,-73.999290,40.725353,N,2316.0,2016-04-11 17:29:00,17.0,2016.0,4.0
17,id1154431,1.0,4/14/2016 8:48,4/14/2016 9:00,1.0,-73.994255,40.745804,-73.999657,40.723343,N,731.0,2016-04-14 08:48:00,8.0,2016.0,4.0
18,id3552682,1.0,6/27/2016 9:55,6/27/2016 10:17,1.0,-74.003983,40.713013,-73.979195,40.749924,N,1317.0,2016-06-27 09:55:00,9.0,2016.0,6.0
19,id3390316,2.0,6/5/2016 13:47,6/5/2016 13:51,1.0,-73.983887,40.738197,-73.991203,40.727871,N,251.0,2016-06-05 13:47:00,13.0,2016.0,6.0
20,id2070428,1.0,2/28/2016 2:23,2/28/2016 2:31,1.0,-73.980370,40.742420,-73.962852,40.760635,N,486.0,2016-02-28 02:23:00,2.0,2016.0,2.0
21,id0809232,2.0,4/1/2016 12:12,4/1/2016 12:23,1.0,-73.979538,40.753361,-73.963997,40.763458,N,652.0,2016-04-01 12:12:00,12.0,2016.0,4.0
22,id2352683,1.0,4/9/2016 3:34,4/9/2016 3:41,1.0,-73.995865,40.758812,-73.993324,40.740322,N,423.0,2016-04-09 03:34:00,3.0,2016.0,4.0
23,id1603037,1.0,6/25/2016 10:36,6/25/2016 10:55,1.0,-73.993553,40.747173,-74.006142,40.704384,N,1163.0,2016-06-25 10:36:00,10.0,2016.0,6.0
24,id3321406,2.0,6/3/2016 8:15,6/3/2016 8:56,1.0,-73.955231,40.777134,-73.788750,40.641472,N,2485.0,2016-06-03 08:15:00,8.0,2016.0,6.0
25,id0129640,2.0,2/14/2016 13:27,2/14/2016 13:49,1.0,-73.956581,40.771358,-73.974968,40.732792,N,1283.0,2016-02-14 13:27:00,13.0,2016.0,2.0
26,id3587298,1.0,2/27/2016 21:56,2/27/2016 22:14,1.0,-73.983765,40.749874,-73.958832,40.800961,N,1130.0,2016-02-27 21:56:00,21.0,2016.0,2.0
27,id2104175,1.0,6/20/2016 23:07,6/20/2016 23:18,1.0,-73.958435,40.713192,-73.949539,40.680252,N,694.0,2016-06-20 23:07:00,23.0,2016.0,6.0
28,id3973319,2.0,6/13/2016 21:57,6/13/2016 22:12,1.0,-73.994217,40.713306,-73.982849,40.692299,N,892.0,2016-06-13 21:57:00,21.0,2016.0,6.0
29,id1410897,1.0,3/23/2016 14:10,3/23/2016 14:49,1.0,-73.982117,40.756351,-73.865692,40.770988,N,2331.0,2016-03-23 14:10:00,14.0,2016.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9970,id2442124,1.0,6/4/2016 17:06,6/4/2016 17:20,2.0,-73.991104,40.749973,-73.998299,40.722515,N,835.0,2016-06-04 17:06:00,17.0,2016.0,6.0
9971,id2402293,2.0,2/25/2016 19:03,2/25/2016 19:17,2.0,-73.991821,40.733471,-74.004677,40.752220,N,809.0,2016-02-25 19:03:00,19.0,2016.0,2.0
9972,id1028202,1.0,3/5/2016 18:54,3/5/2016 19:07,1.0,-73.983955,40.780586,-73.957748,40.801071,N,748.0,2016-03-05 18:54:00,18.0,2016.0,3.0
9973,id0753785,2.0,4/2/2016 22:23,4/2/2016 22:45,1.0,-74.003448,40.732689,-73.989876,40.760551,N,1280.0,2016-04-02 22:23:00,22.0,2016.0,4.0
9974,id3212292,2.0,4/13/2016 19:43,4/13/2016 19:49,6.0,-73.976669,40.750519,-73.984428,40.737091,N,327.0,2016-04-13 19:43:00,19.0,2016.0,4.0
9975,id3549678,2.0,6/4/2016 21:46,6/4/2016 21:59,2.0,-74.013107,40.705372,-74.005676,40.746635,N,803.0,2016-06-04 21:46:00,21.0,2016.0,6.0
9976,id2719613,1.0,3/5/2016 20:48,3/5/2016 20:59,2.0,-73.984695,40.779697,-74.003288,40.752338,N,664.0,2016-03-05 20:48:00,20.0,2016.0,3.0
9977,id2983067,2.0,2/25/2016 1:16,2/25/2016 1:21,2.0,-74.007896,40.741291,-74.002403,40.739685,N,274.0,2016-02-25 01:16:00,1.0,2016.0,2.0
9978,id0744695,2.0,3/11/2016 10:50,3/11/2016 10:58,1.0,-73.996246,40.715923,-73.991623,40.726768,N,489.0,2016-03-11 10:50:00,10.0,2016.0,3.0
9979,id1809414,2.0,1/12/2016 18:04,1/12/2016 18:28,3.0,-73.977417,40.757916,-74.010567,40.709095,N,1446.0,2016-01-12 18:04:00,18.0,2016.0,1.0
9980,id0426296,2.0,1/4/2016 22:49,1/4/2016 23:04,1.0,-73.922279,40.702457,-73.976471,40.694443,N,936.0,2016-01-04 22:49:00,22.0,2016.0,1.0
9981,id2697235,1.0,1/24/2016 19:36,1/24/2016 19:47,1.0,-74.009682,40.710728,-74.005959,40.735737,N,655.0,2016-01-24 19:36:00,19.0,2016.0,1.0
9982,id3466408,2.0,4/10/2016 0:04,4/10/2016 0:13,1.0,-73.988953,40.745029,-74.002083,40.745140,N,558.0,2016-04-10 00:04:00,0.0,2016.0,4.0
9983,id2730777,2.0,2/24/2016 6:45,2/24/2016 6:53,6.0,-73.984741,40.747799,-73.995079,40.755451,N,498.0,2016-02-24 06:45:00,6.0,2016.0,2.0
9984,id1297602,1.0,4/22/2016 15:35,4/22/2016 16:32,1.0,-74.015747,40.710857,-73.791107,40.662216,N,3380.0,2016-04-22 15:35:00,15.0,2016.0,4.0
9985,id3460434,1.0,5/4/2016 7:21,5/4/2016 7:30,1.0,-73.960182,40.779003,-73.965782,40.803066,N,549.0,2016-05-04 07:21:00,7.0,2016.0,5.0
9986,id0094496,2.0,2/23/2016 8:54,2/23/2016 9:09,6.0,-73.862801,40.768696,-73.871902,40.728958,N,907.0,2016-02-23 08:54:00,8.0,2016.0,2.0
9987,id1713877,2.0,1/27/2016 12:55,1/27/2016 13:27,1.0,-73.976357,40.748302,-73.961784,40.771599,N,1969.0,2016-01-27 12:55:00,12.0,2016.0,1.0
9988,id1825810,2.0,2/29/2016 2:40,2/29/2016 3:13,1.0,-74.012901,40.708012,-73.743919,40.707088,N,2008.0,2016-02-29 02:40:00,2.0,2016.0,2.0
9989,id0939230,2.0,3/16/2016 11:30,3/16/2016 11:39,2.0,-73.982117,40.731960,-73.975830,40.748951,N,517.0,2016-03-16 11:30:00,11.0,2016.0,3.0
9990,id0387644,1.0,5/2/2016 16:13,5/2/2016 16:25,1.0,-73.974800,40.749832,-73.967018,40.760796,N,717.0,2016-05-02 16:13:00,16.0,2016.0,5.0
9991,id2383579,2.0,3/4/2016 21:32,3/4/2016 21:40,5.0,-73.984917,40.758575,-73.989609,40.741318,N,476.0,2016-03-04 21:32:00,21.0,2016.0,3.0
9992,id3812173,1.0,1/14/2016 11:12,1/14/2016 11:22,1.0,-74.006538,40.735153,-73.998291,40.724869,N,629.0,2016-01-14 11:12:00,11.0,2016.0,1.0
9993,id2400251,1.0,3/2/2016 0:43,3/2/2016 0:55,1.0,-73.999199,40.724972,-73.978378,40.751408,N,749.0,2016-03-02 00:43:00,0.0,2016.0,3.0
9994,id1244481,2.0,1/15/2016 13:45,1/15/2016 14:39,5.0,-73.996323,40.733101,-73.801666,40.666832,N,3242.0,2016-01-15 13:45:00,13.0,2016.0,1.0
9995,id1454368,2.0,3/19/2016 1:39,3/19/2016 1:55,1.0,-73.993889,40.756840,-73.949280,40.827789,N,971.0,2016-03-19 01:39:00,1.0,2016.0,3.0
9996,id1441924,1.0,3/27/2016 1:21,3/27/2016 1:36,2.0,-73.997223,40.719307,-73.986656,40.761303,N,932.0,2016-03-27 01:21:00,1.0,2016.0,3.0
9997,id3024892,1.0,6/13/2016 10:33,6/13/2016 10:39,1.0,-73.987190,40.760956,-73.982147,40.768261,N,372.0,2016-06-13 10:33:00,10.0,2016.0,6.0
9998,id2827899,1.0,3/25/2016 15:57,3/25/2016 16:02,1.0,-73.975090,40.756077,-73.968575,40.764622,N,295.0,2016-03-25 15:57:00,15.0,2016.0,3.0
9999,id0015418,1.0,3/12/2016 11:49,3/12/2016 11:59,1.0,-73.970337,40.762577,-73.951653,40.774483,N,619.0,2016-03-12 11:49:00,11.0,2016.0,3.0

In [5]:
# Drop columns that are not required
taxi_dataQ2 = taxi_dataQ2.drop(["vendor_id","pickup_datetime","dropoff_datetime","passenger_count","dropoff_longitude","dropoff_latitude","store_and_fwd_flag"], axis=1)

# Convert 'Hour','Year',and 'Month' to integer
taxi_dataQ2["Hour"] = pd.to_numeric(taxi_dataQ2["Hour"])
taxi_dataQ2["Year"] = pd.to_numeric(taxi_dataQ2["Year"])
taxi_dataQ2["Month"] = pd.to_numeric(taxi_dataQ2["Month"])

taxi_dataQ2["Hour"] = taxi_dataQ2["Hour"].astype(int)
taxi_dataQ2["Year"] = taxi_dataQ2["Year"].astype(int)
taxi_dataQ2["Month"] = taxi_dataQ2["Month"].astype(int)

taxi_dataQ2.head()

,id,pickup_longitude,pickup_latitude,trip_duration(sec),Datetime,Hour,Year,Month
0,id2875421,-73.982155,40.767937,455.0,2016-03-14 17:24:00,17,2016,3
1,id2377394,-73.980415,40.738564,663.0,2016-06-12 00:43:00,0,2016,6
2,id3858529,-73.979027,40.763939,2124.0,2016-01-19 11:35:00,11,2016,1
3,id3504673,-74.010040,40.719971,429.0,2016-04-06 19:32:00,19,2016,4
4,id2181028,-73.973053,40.793209,435.0,2016-03-26 13:30:00,13,2016,3

In [15]:
# Create bins for 'Pickup Time'
bins = ["0:0", "0:59", "1:59", "2:59", "3:59", "4:59", "5:59", "6:59", "7:59", "8:59", "9:59", "10:59",
       "11:59", "12:59", "13:59", "14:59", "15:59", "16:59", "17:59", "18:59", "19:59", "20:59", "21:59", "22:59", "24:00"]
group_names = ["0:00-1:00", "1:00-2:00", "2:00-3:00", "3:00-4:00", "4:00-5:00", "5:00-6:00", "6:00-7:00", "7:00-8:00", 
               "8:00-9:00", "9:00-10:00", "10:00-11:00", "11:00-12:00", "12:00-13:00", "13:00-14:00", "14:00-15:00",
              "15:00-16:00", "16:00-17:00", "17:00-18:00", "18:00-19:00", "19:00-20:00", "20:00-21:00", "21:00-22:00",
              "22:00-23:00", "23:00-24:00"]
taxi_dataQ2["Time Category"] = pd.cut(taxi_dataQ2["Pickup Time"], bins, labels=group_names)

# Count the number of trips in each bin
taxi_dataQ2 = taxi_dataQ2.groupby("Time Category").count()
taxi_dataQ2.head()

TypeError: ufunc 'subtract' did not contain a loop with signature matching types dtype('<U5') dtype('<U5') dtype('<U5')